<!-- blog/templates/blog/post_detail.html -->
<!DOCTYPE html>
<html>
<head>
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="{% static 'blog/css/styles.css' %}">
</head>
<body>
    <h1>{{ post.title }}</h1>
    <p>{{ post.content }}</p>
    <p>By {{ post.author }} on {{ post.published_date }}</p>
    {% if user == post.author %}
        <a href="{% url 'post_update' post.pk %}">Edit</a> |
        <a href="{% url 'post_delete' post.pk %}">Delete</a>
    {% endif %}
    <p><a href="{% url 'post_list' %}">Back to Posts</a></p>
</body>
</html>